footer.footer {
  // background-color: #f2f2f2;
  border-top: 1px solid #F2F2F2;

  .box-container {
    width: 90%;
    margin: 40px auto;
    justify-content: start;
    align-items: flex-start;

    .footer-menu {
      padding-left: 60px;
      border-left: 1px solid #03AEEF;
    }

  }

  .full-width.footer {
    flex-direction: row nowrap;
    width: 80%;
    margin: auto;
    text-align: center;

    .footer-info {
      display: block;
      display: flex;
      width: 100%;
      justify-content: center;
      li {
        padding: 0px 20px 10px;        
      }
    }


  }

}
