@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cagliostro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#top-bar-menu.top-bar a {
  font-family: 'Cagliostro', sans-serif;
}

h1 {
  // text-align: justify;
  font-family: 'Abril Fatface', cursive;
}


////////////////////////
///// HOME HERO ////////
////////////////////////

.hero {
  h1 {
    font-size: 46px;
    margin-bottom: 60px;


  }

  p {
    font-size: 24px;
    font-family: 'Cagliostro', sans-serif;
    margin-top: 60px;
  }
}


.main-content {
  h1 {
    font-size: 46px;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .contact-box {

  h2 {
    margin: 40px auto ;
    font-size: 30px;
    font-family: 'Cagliostro', sans-serif;

  }
  p {
    font-size: 18px;
  }
}
}

////////////////////////
/////// FOOTER /////////
////////////////////////

footer.footer {

  ul, li {
    list-style: none;
    margin: 10px 0;
  }

  li {
    span.head {
      text-transform: uppercase;
      font-family: 'Abril Fatface', cursive;
      font-size: 22px;
    }

    a {
      font-family: 'Cagliostro', sans-serif;
      text-align: justify;
    }
  }

  .full-width.footer .footer-info li {
    font-size: 14px;
    font-family: 'Cagliostro', sans-serif;
  }
}

////////////////////////
///// LINK STATES //////
////////////////////////

a {
  color: black;
}

a:hover {
  color: #8E9BA0;
  font-size: 18px;
  font-weight: 500;
}
